<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Workout</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arial:400,900,900italic,900italic" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Arial:700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>


<!------ Include the above in your HEAD tag ---------->
<body style="background-color:  #5a6268">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-color: black">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"
           style="margin-top:-30px; margin-right: 10px;font-size: 27px">Workout</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="font-size: 17px" href="{% url 'index' %}">Home</a>
                </li>
                <li class="dropdown" style="margin-left:15px ;margin-top: 15px">
                    <a id="inscrevase_link" class="dropdown-toggle"
                       data-toggle="dropdown" style="font-size: 17px">Inscreva-se</a>
                    <ul class="dropdown-menu" style="background-color: black;">
                        <li style="margin-left:10px">
                            <a id="register_user_link " href="{% url "cadastro_estudante" %}" style="font-size: 15px">Estudante</a></a>
                        </li>
                        <li style="margin-left:10px">
                            <a id="register_instituicao_link "
                               href="{% url "cadastro_empresa" %}" style="font-size: 15px">Empresa</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" style="margin-left:15px ">
                    <a class="nav-link js-scroll-trigger" style="font-size: 15px" href="#contact">Contact</a>
                </li>
                <li class="nav-item" style=" margin-left: 15px;">
                    <a class="nav-link js-scroll-trigger" href="{% url "login" %}" style="font-size: 15px">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <!-- panel preview -->
        <div class="col-sm-10" style="margin-left: 8%; margin-top: 4%;">
            <div class="panel">
                <form method="POST" class="post-form" action="/post/new-estudante/">
                    {% csrf_token %}
                    <div class="col-sm-12" style="margin-top: 3%; margin-bottom: 3%">
                        <legend style="text-align: center; font-size: 25px">Cadastro de Empresa</legend>
                    </div>
                    <div class="panel">
                        <div class="panel-body form-horizontal payment-form">
                            <div class="form-group">
                                <label for="concept" class="col-sm-3 control-label">Nome da Estudante</label>
                                <div class="col-sm-9">
                                    {{ form.nome }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="col-sm-3 control-label">Data de Nascimento</label>
                                <div class="col-sm-9">
                                    {{ form.data_nascimento }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">CEP</label>
                                <div class="col-sm-9">
                                    {{ form.cep }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount" class="col-sm-3 control-label">Cidade</label>
                                <div class="col-sm-9">
                                    {{ form.cidade }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="amount" class="col-sm-3 control-label">Endereço</label>
                                <div class="col-sm-9">
                                    {{ form.endereco }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="amount" class="col-sm-3 control-label">Telefone</label>
                                <div class="col-sm-9">
                                    {{ form.telefone }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Curso</label>
                                <div class="col-sm-9">
                                    {{ form.curso }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Conclusão</label>
                                <div class="col-sm-9">
                                    {{ form.conclusao }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Descrição do currículo</label>
                                <div class="col-sm-9">{{ form.descricao_curriculo }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="status" class="col-sm-3 control-label">Nome de usuário</label>
                                <div class="col-sm-9">
                                    {{ form.nome_usuario }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="col-sm-3 control-label">Senha</label>
                                <div class="col-sm-9">
                                    {{ form.senha }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" style="margin-left: 340px; font-size: 15px ">
                                Concluir
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div> <!-- / panel preview -->
</div>
</div>
</body>

<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2018</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/grayscale.min.js"></script>
